@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello CPS!</h1>

<p>Welcome to your new app.</p>

<p>I have looked at importing the Non Working Days from https://www.gov.uk/bank-holidays.json but decided that this might be overkill, so left it as a possible future enhancement.</p>

<p>Anyway, despite the lack of automatic transferral of the test.json from the DataUploadValidation project to the VeryBigShoesWeb project, I hope you like what you see!</p>
